.back{
    margin-top: 24px;
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #8b8b8b;
    font-size: 16px;
    color: #8b8b8b;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
    margin-left: 10%;
    float: left;
}

.back:hover {
    background-color: #8b8b8b;
    border-color: #a0a0a0;
    color: #FFF;
}

header{
    background-color: #efefef;
    padding-top: 24px;
    padding-bottom: 24px;
    
}

h1{
    text-align: center;
    color: rgb(75, 72, 72);
    margin: 0;
}

body{
    margin: 0;
}

.details{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    
}

.reviewTitle, .storeTitle, .areaTitle, .starTitle, .prefTitle{
    margin: 0;
    background-color: #b8b6b6;
}

.deleteButton{
    margin-top: 24px;
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #ff4b4b;
    font-size: 16px;
    color:  #ff4b4b;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
    float: right;
    margin-right: 10%;
}

.deleteButton:hover {
    background-color:  #ff4b4b;
    border-color: #ff7d7d;
    color: #FFF;
}

footer{
    margin-top: 10%;
    background-color: #efefef;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

