body {
    margin: 0;
}

header {
    background-color: #efefef;
    /* padding-top: 32px; */
    padding-bottom: 30px;
}

.headmenu{
    display: flex;
}

.top{
    width: 50%;
    text-align: left;
    margin: 0;
}

.user{
    width: 50%;
    margin: 0;
    text-align: right;
}

header p{
    margin: 0;
    padding-top: 8px;

}

h1 {
    text-align: center;
    color: rgb(75, 72, 72);
    margin-bottom: 45px;
    margin-top: 0;
}

.tool {
    display: flex;
}

.search {
    width: 50%;
}

.checkbox {
    width: 20px;
    top: 1px;
    position: relative;
}

.search button {
    width: 70px;
    margin-left: 4px;
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #53b0fc;
    font-size: 16px;
    color: #53b0fc;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
}

.search button:hover {
    background-color: #53b0fc;
    border-color: #72bbf7;
    color: #FFF;
}

div.keyword {
    margin-left: 4px;
    margin-top: 4px;
}

.keyword input {
    width: 250px;
    height: 30px;
}


.new {
    display: 30%;
}

.new button {
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #9ec34b;
    font-size: 16px;
    color: #9ec34b;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
    margin-top: 4px;
}

.new button:hover {
    background-color: #9ec34b;
    border-color: #cbe585;
    color: #FFF;
}

.myJuice{
    display: 30%;
}

.myJuice button{
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #ff7b00;
    font-size: 16px;
    color: #ff7b00;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
    margin-top: 4px;
}

.myJuice button:hover{
    background-color: #ff7b00;
    border-color: #ffa24c;
    color: #FFF;
}

div .button{
    text-align: right;
}

.new tr{
    margin-left: 4px;
}

.button{
    margin-right: 4px;
    margin-left: auto;
}

figure {
    padding: 2px;
    width: 300px;
    height: 330px;
    margin: 6px;
    border: 2px solid;
    border-color: rgb(202, 201, 201);
}

figcaption {
    text-align: center;
    color: rgb(75, 72, 72);
}

.img {
    width: 300px;
    height: 300px;
}

.juice-list ul li {
    display: inline-block;
}

.name {
    width: 300px;
}

.local {
    margin-left: 4px;
}

.pref {
    margin-left: 4px;
}

.star {
    margin-left: 4px;
}

.pagination {
    text-align: center;
}

footer {
    background-color: #efefef;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.none{
    text-align: center;
    margin-bottom: 30px;
}