body{
    margin: 0;
}

header{
    background-color: #efefef;
    padding-bottom: 32px;
    padding-top: 0;
}

.top{
    width: 50%;
    text-align: left;
    margin: 0;
}

.top p{
    margin: 0;
    padding-top: 8px;
}

h1{
    text-align: center;
    color: rgb(75, 72, 72);
}

main{
    display: flex;
}

.preview{
    width: 50%;
}

.preview img{
    width: 300px;
    height: 300px;
    margin-top: 25%;
    margin-left: 15%;
    
}

div{
    margin-top: 24px;
    
}

div.newcreate{
    width: 50%;
    margin-left: 4px;
}

h4{
    margin: 0;
}

.radio{
    margin: 0;
    margin-right: 6px;
    top: 1px;
    position: relative;
}

textarea{
    width: 450px;
    height: 150px;
}


button{
    margin-top: 24px;
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #9ec34b;
    font-size: 16px;
    color: #9ec34b;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
}

button:hover {
    background-color: #9ec34b;
    border-color: #cbe585;
    color: #FFF;
}

.back{
    margin-top: 24px;
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #8b8b8b;
    font-size: 16px;
    color: #8b8b8b;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
    margin-left: 30px;
}

.back:hover {
    background-color: #8b8b8b;
    border-color: #a0a0a0;
    color: #FFF;
}

ul{
    padding: 0;
}

li{
    display: inline-block;
}

footer{
    background-color: #efefef;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

ul.error{
    list-style: none;
    color: red;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.validation{
    color: rgb(250, 41, 41);
}