.back{
    margin-top: 9px;
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #8b8b8b;
    font-size: 16px;
    color: #8b8b8b;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
    margin-left: 10%;
    float: left;
}

.back:hover {
    background-color: #8b8b8b;
    border-color: #a0a0a0;
    color: #FFF;
}

header{
    background-color: #efefef;
    padding-top: 24px;
    padding-bottom: 24px;
    
}

header{
    text-align: center;
}

h4{
    margin: 0;
}

header input{
    width: 200px;
    height: 40px;
}

body{
    margin: 0;
}

.update{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    
}

.reviewTitle, .storeTitle, .areaTitle, .starTitle, .prefTitle, .nameTitle{
    margin: 0;
    margin-bottom: 8px;
    margin-top: 8px;
    background-color: #b8b6b6;
}


.updateButton{
    margin-top: 24px;
    display: inline-block;
    text-align: left;
    border: 2px solid #9ec34b;
    font-size: 16px;
    color: #9ec34b;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
    width: 68px;
    height: 44px;
    text-align: center;
    float: right;

}

.updateButton:hover {
    background-color:  #9ec34b;
    border-color: #cbe585;
    color: #FFF;
}


footer{
    margin-top: 10%;
    background-color: #efefef;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

textarea{
    width: 500px;
    height: 60px;
}

.validation{
    color: rgb(250, 41, 41);
}